<div class="mb-4" {{ stimulus_controller('juliankoster--pagebuilderbundle--page-builder-preview-list') }}>
    {% if config.type in ['list'] %}

        {% set listIndex = listIndex|default(0) %}

        {% for fieldType in config.structuredSubTypeArray %}
            {% set key = config.label ~ "[" ~ listIndex ~ "]" ~ "[" ~ fieldType.key ~ "]" %}

            {{ pb_block_render_inputs(key, fieldType, instanceId)|raw }}
        {% endfor %}

        <button
                type="button"
                class="px-3 py-2 text-xs font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                data-action="juliankoster--pagebuilderbundle--page-builder-preview#addListItem"
                data-key="{{ key }}"
        >
            + Add item
        </button>
    {% endif %}
</div>
