{% extends 'base.html.twig' %}
{% trans_default_domain('admin_page_builder') %}

{% block meta %}<title>{% trans %}Admin / Page Builder{% endtrans %}</title>{% endblock %}

{% block body %}
    <div class="h-screen flex flex-col overflow-hidden">
        <main class="h-full bg-gray-900">
            <twig:MainBuilderComponent page="{{ page }}"/>
        </main>
    </div>
{% endblock %}